.aboutus {
    margin-top: -49px;
    &__video {
        display: flex;
        &-tablet {
            display: none;
        }
        & img {
            margin: 0 auto;
        }
    }
    &__title {
        display: none;
    }
    &__text {
        margin-top: 30px;
        color: rgba(0, 0, 0, 0.6);
    }
}

@media screen and(min-width: 768px) {
    .aboutus {
        margin-top: -117px;
        &__video {
            &-tel {
                display: none;
            }
            &-tablet {
                display: block;
            }
        }
        &__text {
            margin-top: 49px;
            font-size: 18px;
            line-height: 40px;
            letter-spacing: -0.00038757px;
            color: #666666;
        }
    }
}

@media screen and(min-width: 1200px) {
    .aboutus {
        margin-top: 90px;
        &__inner {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: flex-start;
        }
        &__video {
            & img {
                width: 774px;
            }
        }
        &__info {
            width: 258px;
            order: -1;
        }
        &__title {
            display: inline;
        }
        &__text {
            margin-top: 66px;
        }
    }
}

@media screen and(min-width: 1920px) {
    .aboutus {
        margin-top: 202px;
        &__video {
            margin-top: 15px;
            margin-right: 5px;
        }
    }
}