.practice {
    margin-top: 57px;
    &__text {
        margin-top: 25px;
        color: rgba(0, 0, 0, 0.6);
    }
    &__list {
        margin-top: 40px;
    }
}

@media screen and(min-width: 768px) {
    .practice {
        margin-top: 90px;
        &__text {
            margin-top: 30px;
            font-size: 18px;
            line-height: 40px;
            letter-spacing: -0.00038757px;
        }
        &__list {
            margin-top: 0;
        }
    }
}

@media screen and(min-width: 1200px) {
    .practice {
        &__inner {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &__info {
            width: 259px;
        }
    }
}