.stats {
    min-height: 864px;
    margin: 0 auto;
    margin-top: 75px;
    padding-top: 92px;
    background: url('../images/index/stats/stats-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    &__title {
        color: #fff;
    }
    &__text {
        margin-top: 25px;
        color: rgba(255, 255, 255, 0.6);
    }
    &__table {
        width: 100%;
        margin-top: 53px;
        & span {
            @extend %section-title;
            color: #ffffff;
            text-align: left;
            line-height: 43px;
        }
        & tr {
            width: 100%;
            display: flex;
            &:first-child td {
                padding-top: 35px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            }
        }
        & td {
            min-height: 150px;
            padding: 0;
            padding-top: 50px;
            padding-bottom: 45px;
            width: 50%;
            font-family: 'Muli';
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            text-align: right;
            letter-spacing: -0.00038757px;
            color: rgba(255, 255, 255, 0.4);
            &:nth-child(odd) {
                padding-right: 40px;
                border-right: 1px solid rgba(255, 255, 255, 0.3);
            }
            & b {
                display: none;
            }
        }
    }
}

@media screen and(min-width: 768px) {
    .stats {
        min-height: 1080px;
        padding-top: 133px;
        &__text {
            width: 445px;
            padding-left: 2px;
            font-size: 18px;
            line-height: 40px;
        }
        &__table {
            margin-top: 95px;
            & span {
                font-family: 'Lora';
                font-weight: bold;
                font-size: 55px;
                line-height: 70px;
                letter-spacing: -0.00118424px;
            }
            & td {
                min-height: 245px;
                padding-right: 57px;
                &:nth-child(odd) {
                    padding-right: 57px;
                }
                &:first-child br {
                    display: none;
                }
                & b {
                    display: inline;
                }
                & p {
                    margin-top: 25px;
                }
            }
        }
    }
}

@media screen and(min-width: 1200px) {
    .stats {
        background: url('../images/index/stats/stats-bg-dekstop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        &__inner {
            display: flex;
            min-height: 1080px;
            justify-content: space-between;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
        &__table {
            margin-top: 0;
            width: 550px;
        }
        &__info {
            width: 445px;
            margin-bottom: 50px;
        }
    }
}