.team {
    margin: 0 auto;
    margin-top: 106px;
    background: url('../images/index/team/team-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    & .container {
        padding: 0;
    }
    &__inner {
        padding-top: 90px;
        padding-bottom: 140px;
    }
    &__about {
        padding: 0 40px;
    }
    &__title {
        color: #fff;
    }
    &__descr {
        margin-top: 23px;
        line-height: 40px;
        color: rgba(255, 255, 255, 0.6);
    }
    &__list {
        margin-top: 48px;
        padding: 0 40px;
        display: flex;
        overflow-x: scroll;
        &::-webkit-scrollbar { 
            width: 0; 
            height: 0; 
        }
    }
    &__item {
        width: 247px;
        margin-right: 46px;
    }
    &__photo {
        width: 100%;
        display: flex;
        border-radius: 6px;
        overflow: hidden;
    }
    &__info {
        margin-top: 18px;
    }
    &__name {
        display: inline-block;
        padding-bottom: 3px;
        font-family: 'Lora';
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: -0.000430634px;
        color: #FFFFFF;
        border-bottom: 1px solid rgba(#C3A575, 0.5);
    }
    &__text {
        margin-top: 20px;
        color: rgba(255, 255, 255, 0.6);
        line-height: 30px;
    }
}

@media screen and(min-width: 768px) {
    .team {
        margin-top: 213px;
        background: url('../images/index/team/team-bg-big.jpg');
        background-size: 128%;
        &__inner {
            padding-top: 140px;
            padding-bottom: 177px;
        }
        &__about {
            padding: 0 80px;
        }
        &__descr {
            margin-top: 28px;
            width: 454px;
            font-size: 18px;
            line-height: 40px;
            letter-spacing: -0.00038757px;
        }
        &__list {
            margin-top: 82px;
            padding: 0 80px;
        }
        &__item {
            width: 362px;
            margin-right: 57px;
            &:first-child {
                & .team__photo {
                    width: 362px;
                    height: 296px;
                    background: url('../images/index/team/team-1-big.jpg');
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                & img {
                    display: none;
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
        &__photo {
            border-radius: 11px;
            & img {
                width: 362px;
                height: 296px;
            }
        }
        &__text {
            color: rgba(#fff, 0.4);
        }
    }
}

@media screen and(min-width: 1200px) {
    .team {
        margin-top: 113px;
    }
}

@media screen and(min-width: 1920px) {
    .team {
        height: 1153px;
        margin-top: 93px;
        position: relative;
        background: transparent;
        & .container {
            max-width: 100%;
            padding-left: 365px;
        }
        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            left: 0;
            top: 0;
            width: 965px;
            height: 1153px;
            background: url('../../images/index/team/team-bg-big.jpg');
        }
        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            right: 0;
            bottom: 0;
            width: calc(100% - 965px);
            height: 570px;
            background: #F2F8F8;
        }
        &__inner {
            padding-top: 279px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
        }
        &__about {
            width: 263px;
            padding: 0;
        }
        &__descr {
            width: 100%;
            margin-top: 65px;
            padding-left: 2px;
        }
        &__list {
            padding: 0;
            margin: 0;
            margin-top: 10px;
            margin-right: 10px;
        }
        &__item {
            margin-right: 25px;
            background: #fff;
            border-radius: 6px;
            overflow: hidden;
            box-shadow: 0px 0px 82px -5px #F2F8F8;;
        }
        &__photo {
            & img {
                height: 303px;
            }
        }
        &__info {
            min-height: 306px;
            padding: 47px 43px 27px 55px;
        }
        &__name {
            color: #000;
        }
        &__text {
            color: rgba(#000, 0.4);
        }
        &__swift {
            display: block;
            width: 79px;
            height: 79px;
            border: 1px solid #FFFFFF;
            cursor: pointer;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 16px;
                height: 28px;
                background: url('../../images/index/team/arrow.svg');
            }
            &-left {
                border-radius: 6px 0 0 6px;
                opacity: 0.2;
                &::before {
                    top: 33%;
                    left: 36%;
                    transform: rotate(180deg)
                }
            }
            &-right {
                border-radius: 0px 6px 6px 0px;
            }
            &-wrapper {
                display: flex;
                margin-top: 115px;
                margin-left: 3px;
            }
        }
    }
}