.aboutus {
    margin-top: -49px;
    &__video {
        display: flex;
    }
    &__title {
        display: none;
    }
    &__text {
        margin-top: 30px;
        color: rgba(0, 0, 0, 0.6);
    }
}