.header {
    margin: 0 auto;
    width: 768px;
    min-height: 893px;
    background: url('../images/header/header-bg.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 180% auto;
    &__inner {
        padding-top: 77px;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__logo {
        display: flex;
    }
    &__bottom {
        margin-top: 85px;
    }
    &__title {
        font-family: 'Martel', sans-serif;
        font-weight: 900;
        font-size: 30px;
        line-height: 51px;
        letter-spacing: -0.00064595px;
        color: #000000;
    }
    &__text {
        width: 212px;
        margin-top: 14px;
        line-height: 30px;
    }
    &__request {
        display: inline-block;
        margin-top: 30px;
        padding: 28px 31px;
        background: #0F3962;
        border-radius: 34px;
        text-align: center;
        font-weight: 800;
        font-size: 12.36px;
        line-height: 12.36px;
        letter-spacing: -0.000266132px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

@media screen and(min-width: 768px) {
    .header {
        min-height: 1192px;
        background-size: 195% auto;
        background-position: bottom left 30%;
        &__bottom {
            margin-top: 145px;
        }
        &__title {
            font-size: 55px;
            line-height: 73px;
            letter-spacing: -1px;
        }
        &__text {
            width: 380px;
            margin-top: 40px;
            font-size: 18px;
            line-height: 40px;
        }
        &__request {
            margin-top: 62px;
            min-width: 225px;
            padding: 30px;
            font-size: 11.7px;
        }
    }
}