.protect {
    margin-top: 85px;
    &__title {
        font-family: 'Martel', sans-serif;
        font-weight: 900;
        font-size: 30px;
        line-height: 51px;
        letter-spacing: -0.00064595px;
        color: #000000;
    }
}