.section-title {
    font-family: 'Martel', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 51px;
    letter-spacing: -0.00064595px;
    color: #000000;
    @media screen and(min-width: 768px) {
        font-style: normal;
        font-weight: 800;
        font-size: 35px;
        line-height: 59px;
        letter-spacing: -0.000753609px;
    }
}