@import '../../node_modules/normalize.css/normalize';
// @import '../../node_modules/slick-carousel/slick/slick';
// @import '../../node_modules/magnific-popup/dist/magnific-popup';

@import '#main/scaffolding.scss';
@import '#main/vars.scss';
@import '#main/block.scss';
@import '#main/fonts.scss';
@import '#main/wrapper.scss';
@import '#main/container.scss';
@import '#main/body.scss';
@import '#main/section-title.scss';
@import '#main/nav.scss';
@import '#main/header.scss';
@import 'index/aboutus.scss';
@import '#main/practice-menu.scss';
@import 'index/practice.scss';
@import 'index/stats.scss';
@import 'index/testimonials.scss';
@import 'index/team.scss';
@import '#main/client-list.scss';
@import '#main/footer.scss';
@import '#main/social.scss';
@import '#main/privacy-list.scss';
