@import '../../node_modules/normalize.css/normalize';
// @import '../../node_modules/slick-carousel/slick/slick';
// @import '../../node_modules/magnific-popup/dist/magnific-popup';

@import 'scaffolding.scss';
@import 'fonts.scss';
@import 'container.scss';
@import 'body.scss';
@import 'section-title.scss';
@import 'header.scss';
@import 'nav.scss';
@import 'aboutus.scss';
@import 'practice.scss';
@import 'practice-menu.scss';
