body {
    min-width: 375px;
    // min-height: 100vh;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    line-height: 34px;
    font-weight: 400;
}