.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    @media screen and(min-width: 768px) {
        padding: 0 80px;
    }
    @media screen and(min-width: 1200px) {
        padding: 0 15px;
    }
}