@font-face {
	font-family: 'Muli';
	font-display: swap;
	src: local("O"), url("../fonts/muli/muli-v20-latin-ext_latin-300.woff") format("woff"),
			url("../fonts/muli/muli-v20-latin-ext_latin-300.woff2") format("woff2"),
			url("../fonts/muli/muli-v20-latin-ext_latin-300.ttf") format("truetype"), 
			url("../fonts/muli/muli-v20-latin-ext_latin-300.eot") format("eot"), 
			url("../fonts/muli/muli-v20-latin-ext_latin-300.otf") format("opentype"), 
			url("../fonts/muli/muli-v20-latin-ext_latin-300.svg") format("svg");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Muli';
	font-display: swap;
	src: local("O"), url("../fonts/muli/muli-v20-latin-ext_latin-regular.woff") format("woff"),
			url("../fonts/muli/muli-v20-latin-ext_latin-regular.woff2") format("woff2"),
			url("../fonts/muli/muli-v20-latin-ext_latin-regular.ttf") format("truetype"), 
			url("../fonts/muli/muli-v20-latin-ext_latin-regular.eot") format("eot"), 
			url("../fonts/muli/muli-v20-latin-ext_latin-regular.otf") format("opentype"), 
			url("../fonts/muli/muli-v20-latin-ext_latin-regular.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Muli';
	font-display: swap;
	src: local("O"), url("../fonts/muli/muli-v20-latin-ext_latin-700.woff") format("woff"),
			url("../fonts/muli/muli-v20-latin-ext_latin-700.woff2") format("woff2"),
			url("../fonts/muli/muli-v20-latin-ext_latin-700.ttf") format("truetype"), 
			url("../fonts/muli/muli-v20-latin-ext_latin-700.eot") format("eot"), 
			url("../fonts/muli/muli-v20-latin-ext_latin-700.otf") format("opentype"), 
			url("../fonts/muli/muli-v20-latin-ext_latin-700.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Muli';
	font-display: swap;
	src: local("O"), url("../fonts/muli/muli-v20-latin-ext_latin-800.woff") format("woff"),
			url("../fonts/muli/muli-v20-latin-ext_latin-800.woff2") format("woff2"),
			url("../fonts/muli/muli-v20-latin-ext_latin-800.ttf") format("truetype"), 
			url("../fonts/muli/muli-v20-latin-ext_latin-800.eot") format("eot"), 
			url("../fonts/muli/muli-v20-latin-ext_latin-800.otf") format("opentype"), 
			url("../fonts/muli/muli-v20-latin-ext_latin-800.svg") format("svg");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Muli';
	font-display: swap;
	src: local("O"), url("../fonts/muli/muli-v20-latin-ext_latin-900.woff") format("woff"),
			url("../fonts/muli/muli-v20-latin-ext_latin-900.woff2") format("woff2"),
			url("../fonts/muli/muli-v20-latin-ext_latin-900.ttf") format("truetype"), 
			url("../fonts/muli/muli-v20-latin-ext_latin-900.eot") format("eot"), 
			url("../fonts/muli/muli-v20-latin-ext_latin-900.otf") format("opentype"), 
			url("../fonts/muli/muli-v20-latin-ext_latin-900.svg") format("svg");
	font-weight: 900;
	font-style: normal;
}