.footer {
    margin-top: 66px;
    &__tel {
        font-weight: 900;
        font-size: 24px;
        line-height: 30px;
    }
    &__address {
        margin-top: 16px;
        line-height: 28px;
        font-style: normal;
        color: rgba(#000, 0.5);
    }
    &__list {
        margin-top: 55px;
        & li {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            &:last-child {
                border-bottom: 0;
            }
        }
        & a {
            padding: 16px 0;
        }
    }
    &__social {
        margin-top: 27px;
    }
    &__bottom {
        margin-top: 60px;
    }
    &__copy {
        margin-top: 12px;
        font-size: 13px;
        line-height: 24px;
        color: rgba(#000000, 0.2);
    }
    &__top {
        position: relative;
    }
    &__client {
        display: none;
        position: absolute;
        right: 2px;
        top: 125px;
    }
}

@media screen and(min-width: 768px) {
    .footer {
        margin-top: 72px;
        &__social {
            margin-top: 37px;
        }
        &__list {
            margin-top: 37px;
        }
        &__bottom {
            margin-top: 65px;
        }
        &__info {
            display: flex;
            flex-wrap: wrap;
        }
        &__year {
            margin-right: 61px;
        }
        &__copy {
            margin-top: 30px;
        }
    }
}

@media screen and(min-width: 1200px) {
    .footer {
        &__contact {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
        &__address {
            margin-top: 0;
            font-size: 24px;
            line-height: 30px;
            & br {
                display: none;
            }
        }
        &__social {
            margin-top: 0;
        }
    }
}

@media screen and(min-width: 1920px) {
    .footer {
        &__top {
            display: flex;
            flex-direction: column-reverse;
        }
        &__contact {
            margin-top: 87px;
            padding: 65px 0;
            justify-content: flex-start;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        &__address {
            margin-left: 55px;
            padding: 10px 57px;
            border-left: 1px solid rgba(0, 0, 0, 0.1);
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            color: #000;
        }
        &__social {
            margin-left: 20px;
        }
        &__bottom {
            margin-top: 87px;
        }
        &__list {
            width: 100%;
            & li {
                border-bottom: 0;
            }
            & a {
                padding: 7px 0;
            }
        }
        &__client {
            display: block;
        }
    }
}